body {
	font-family: Trebuchet MS;
	margin-left: 50%;
	margin-left:58%;
	margin: 0px 28% 0px 10%;
}
h1 { margin-left: 50%; }
nav a {
	margin-left: 58%;
}
* {
	box-sizing: border-box;
}
.column {
	float: left;
	width: 50%;
	padding: 5px;
}
.row::after {
	content: "";
	clear:both;
	display: table;
}
